.input-wrapper {
  position: relative;
}

.input-wrapper .input {
  background-color: var(--light-grey);
  color: var(--grey);
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.input-wrapper .input::placeholder {
  color: var(--mid-grey);
}

.input-wrapper .required-symbol {
  color: var(--red);
  position: absolute;
  left: 5px;
  top: 5px;
}