.address-book-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.address-book-wrapper .addresses {
  overflow-y: auto;
}

.address-book-wrapper .address {
  margin: 20px 0;
}

.address-book-wrapper .address:first-child {
  margin-top: 0;
}

.address-book-wrapper .address:last-child {
  margin-bottom: 0;
}

.address-book-wrapper .buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.address-book-wrapper .buttons button:last-child {
  margin-left: 20px;
}

.address-book-wrapper .no-addresses {
  margin: 40px auto;
  font-size: 24px;
  width: fit-content;
}