html, body, div, span, p, ul, li, input, button {
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-blue: #E4F3F7;
  --blue: #009BC1;
  --red: #FF4C50;
  --yellow: #FFCC1E;
  --very-light-grey: #f3f6f6;
  --light-grey: #ececec;
  --mid-grey: #6c757d;
  --grey: #15312e;
}